---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main>
        <h1>About</h1>
        <p>This little project was developed by <a href="https://espenraugstad.no" target="_blank">Espen Raugstad</a> as a way to make it easier to let people know their dryers are done.</p>
        <p>Don't hesitate to contact me if you have any questions. </p>
    </main>
</Layout>
