---
import Layout from "../layouts/Layout.astro";
import NavButton from "../components/NavButton.astro";
---

<Layout>
	<main>
		<h1>Dryer notification</h1>
		<p>Let people send you a notification when the dryer you are using is done.</p>
		<p>Click “Register” to let people know you are using a dryer.</p>
		<p>Click “Notify” to send a notification to someone who's dryer is done.</p>
		<div>
			<NavButton href="/register">Register</NavButton>
			<NavButton href="/notify">Notify</NavButton>
		</div>
	</main>
</Layout>

<style>

</style>