---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Receiver</h1>
    <div>Message: <span id="msg"></span></div>
	<button id="getMsg">Get message</button>
  </body>
</html>

<script>
	const msg = document.getElementById('msg');
	const getMsg = document.getElementById('getMsg');
	getMsg.onclick = async ()=>{
		try {
			let res = await fetch("./api/transit.json", {
				method: "get",
				headers: {
					"content-type": "application/json"
				},
			})
			let data = await res.json();
			console.log(data);
			msg.innerHTML = data.data;
		} catch (error) {
			console.error(error)
		}
	}
</script>
