---
import Layout from "../layouts/Layout.astro"
import NavButton from "../components/NavButton.astro";
---

<Layout>
    <main>
        <h1>Thank you</h1>
        <p>If someone notifies you, a mail will be sent to the following address:</p>
        <p id="mail"></p>
        <p>You can notify yourself if you pick up your clothes before a notification is sent.</p>
        <NavButton href="/">Home</NavButton>
    </main>
    
</Layout>
<script>
    window.onload = ()=>{
        let registrationInfo = JSON.parse(sessionStorage.getItem("registration"));
        const mail = document.getElementById('mail');
        mail.innerText = registrationInfo.email;
    }
</script>

<style>
    #mail{
        padding: 2rem;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.20);
    }
</style>