---
const { id } = Astro.props;
---
<button id={id}><slot /></button>

<style>
    button{
        display: inline-flex;
        background-color: hsl(220, 83%, 55%);
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        margin: 1rem;
        min-width: 6rem;
        min-height: 3.5rem;
        font-size: 1rem;
        
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: white;

    }
    button:hover{
        background-color: hsl(220, 83%, 45%);
        cursor: pointer;
    }  
</style>