---
const { num, isTaken } = Astro.props
---
<button id={num} class=`dryerButton ${isTaken}`>{num}</button>

<style>
    button{
        background-color: hsl(111, 52%, 58%);
        color: black;
        border: none;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin: .75rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    button:hover{
        background-color: hsl(111, 52%, 48%);
        cursor: pointer;
    }

    .isTaken{
        background-color: #FF3535;
    }
    .isTaken:hover{
        background-color: #FF3535;
        cursor: default;
    }

    .isSelected{
        border: 5px solid black;
    }

    .isNotify{
        background-color: hsl(60, 100%, 50%);
    }

    .isNotify:hover{
        background-color: hsl(60, 100%, 40%);
    }
</style>