---

---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/notify">Notify</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<style>
  nav {
    max-width: 70ch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin: 0;
  }
  a {
    margin: 0;
    display: inline-flex;
    justify-content: center;
    
    text-decoration: none;
    color: black;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
  
    min-width: 6ch;
  }
  a:hover {
    background-color: hsl(0, 0%, 90%);
  }
</style>
