---
import ActionButton from "./ActionButton.astro";
const { id, message } = Astro.props;

interface Props {
  id: string;
  message: string;
}
---

<success-dialog>
  <dialog id={id}>
    <div class="successDialogMain">
      <h2>Great Success!</h2>
      {message.split("\n").map((msg) => <p>{msg}</p>)}
      <ActionButton>OK</ActionButton>
    </div>
  </dialog>
</success-dialog>

<script>
  class SuccessDialog extends HTMLElement {
    constructor() {
      super();

      const okBtn = this.querySelector("button");
      okBtn?.addEventListener("click", () => {
        const dialog = this.querySelector("dialog");
        dialog?.close();

        location.reload();
      });
    }
  }

  customElements.define("success-dialog", SuccessDialog);
</script>

<style>
  .successDialogMain {
    display: flex;
    flex-direction: column;
    min-width: min(80vw, 400px);
    align-items: center;
    padding: 0 0.5rem;
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.75);
  }

  button {
  }
</style>
